*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Snell Roundhan;
    background-color: #FDE4F7 ;
}

/*Centering Logo*/
.center{
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Setting height and width of Nav Bar*/
nav{
    height: 80px;
    width: 100%;
    text-align: center;

    
}

/*Adjuting Position of Nav Bar*/

nav ul{
    display: inline-block;

}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 10px
}

/*Adjusting Text of Nav Bar*/
nav ul li a{
    color: black;

}

/*Feature that underlines hovered element in navbar
and maintains underline on selected page*/
a.active,a:hover{
    text-decoration: underline;
    transition: 0.5ms;
}

/*Edit Triple Stack button*/
.checkbtn{
    font-size: 40px;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
   margin-top: 115px;
    
    
}

/*Remove the checkbox*/
#check{
    display: none;
}

/*Edit navbar text given certain pixel length*/
@media (max-width: 952px){
    label.logo{
        font-size:30px;
        padding-left: 50px;

    }
    nav ul a{
        font-size: 16px;

    }
}


/*Display triplestack button given a smaller screen and edit text display*/
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: relative;
        left: -100%;
        width:100%;
        text-align: center;
        background:  #FDE4F7;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        
    }
    a:hover, a.active{
        text-decoration: underline;

    }
    #check:checked ~ ul{
        left:0;

    }

}